{% extends "base.html.twig" %}

{% block title %}Projet Symfony - Inscription{% endblock %}

{% block body %}
    <h1 class='mt-4'>Formulaire d'inscription</h1>

    {{ form(form) }}
    
{% endblock %}